h1, h2 {
    color: whitesmoke;
    text-shadow: 4px 5px var(--bs-gray-dark);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    font-size: xx-large;
    font-weight: 800;
    font-style: italic;
    font-family: fantasy;
    text-align: center;
  }

h4 {
  color: white;
  text-shadow: 4px 5px var(--bs-gray-dark);
  background: linear-gradient(rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.bg-primary {
  background-color: rgb(64, 90, 90)!important;
}
.bg-secondary {
  background-color:rgb(64, 90, 90)!important;
}